.footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
}
.footer .download{
    width: 100%;
    text-align: center;
}
.footer .download a{
    font-size: 12px;
    line-height: 1.5em;
    /*color: #fff;*/
}
.footer .cnzz {
    text-align: center;
}
.footer .cnzz a{
    /*color: #fff;*/
    line-height: 1.5em;
    font-size: 12px;
    text-decoration: underline;
}
a{
    text-decoration: none;
}